@model Twitter.Models.TweetModel

@{
    ViewBag.Title = "Message";
}

<h2>Twitter</h2>

@using (Html.BeginForm("Message", "Tweet", FormMethod.Post))
{
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add your tweet here</legend>

        <div class="editor-label">
            @Html.TextAreaFor(model =>model.Descripton)
        </div>
        <div class="editor-field">
          
            @Html.ValidationMessageFor(model => model.Descripton)
        </div>       
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Message")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
