@model PagedList.IPagedList<Twitter.Model.TweetModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<br>
<br>
<br>
<div align="center">
<table class="table">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.Descripton)*@
            Name
        </th>
       
        <th>
           @* @Html.DisplayNameFor(model => model.CreatedOn)*@
            Created On
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripton)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item=item.IdTweet}) |
            @Html.ActionLink("Delete", "Delete", new { item=item.IdTweet })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
from @Model.PageCount
 
@Html.PagedListPager(Model, page => Url.Action("Message",  new { page }))
</div>



