@model Twitter.Models.UserModel
@{
 ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login","User",FormMethod.Post))
{        
 @Html.ValidationSummary(true)
   <fieldset>
       <legend>Login</legend>
   @Html.AntiForgeryToken()  
    @if (ViewBag.Message == null)
        {
            <div style="border: solid 1px white">
               <h4> Please complete login form.</h4>
            </div>
        }
        @if (ViewBag.Message == "Successfully Loged.")
        {
            <div style="border: solid 1px green">
                @ViewBag.Message
            </div>
        }
        @if (ViewBag.Message == "Login Failed.")
        {
            <div style="border: solid 1px red">
                @ViewBag.Message
            </div>
        }

<div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
        </div>
          @Html.ValidationMessageFor(model => model.Email)
 <div class="editor-label">
            @Html.LabelFor(model => model.UserPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.UserPassword)         
        </div>
       @Html.ValidationMessageFor(model => model.UserPassword)
        <p>
            <input type="submit" value="Sign In"/>
        </p>
</fieldset>
}
<div>
    @Html.ActionLink("Sign Up", "Register")
</div>
 
@section Scripts{
 @Scripts.Render("~/bundles/jqueryval")
}