@model Twitter.Models.UserModel
<link href="~/Content/AddButton.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Validation.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Menu.css" rel="stylesheet" type="text/css" />
<link href="~/Content/SaveDeleteButton.css" rel="stylesheet" type="text/css" />
<link href="~/Content/TextBox.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Register";
}
<body style="background-color: #001933; width: 100%; height: 100%;">
    <div style="width: 1000px; margin: auto; background-color:#aaa8a8; height: 100vh;">
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href="@Url.Action("Index", "Home")"><span>Home</span></a></li>
                <li><a href="@Url.Action("Login", "User")"><span>Login</span></a></li>
                <li class='last'><a href="@Url.Action("SignOut", "User")"><span>Sign Out</span></a></li>
            </ul>
        </div>
        <br>
        <br>
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true) 
            <div style="width: 500px; height: 100%; margin: 0 auto; text-align: center; background-color:#E0E0E0 ; box-shadow: 10px 10px 5px #888888; border: 2px solid #456879;
    border-radius: 10px;">


                @if (ViewBag.Message == null)
                {
                    <div style="border: solid 1px #aaa8a8">
                        <h4>Please complete register form.</h4>
                    </div>
                }
                @if (ViewBag.Message == "Successfully Registration Done.")
                {
                    <div style="border: solid 1px green">
                        <h4>@ViewBag.Message</h4>
                    </div>
                }
                @if (ViewBag.Message == "Registration Failed, this mail is already used.")
                {
                    <div style="border: solid 5px red">
                       <h4>@ViewBag.Message</h4>
                    </div>
                }
                <div class="editor-label">
                    <h4>First Name</h4>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FirstName, new {@class="textbox"})
                </div>
                @Html.ValidationMessageFor(model => model.FirstName)
                <div class="editor-label">
                    <h4>Last Name</h4>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.LastName, new {@class="textbox"})
                </div>
                @Html.ValidationMessageFor(model => model.LastName)

                <div class="editor-label">
                    <h4>Email</h4>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Email, new {@class="textbox"})
                </div>
                @Html.ValidationMessageFor(model => model.Email)


                <div class="editor-field">
                    @Html.HiddenFor(model => model.Avatar, new {@class="textbox"})
                </div>              


                <div class="editor-label">
                    <h4>Password</h4>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.UserPassword, new {@class="textbox"})
                </div>
                @Html.ValidationMessageFor(model => model.UserPassword)

                <div class="editor-label">
                    <h4>Confirm Password</h4>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.ConfirmPassword, new {@class="textbox"})
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                <div class="editor-label">
                    <h4>Avatar</h4>
                </div>
                <br>
               
                 <input type="file" name="Avatar"/>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn orange" name="submitbutton">Add User</button>
                    </div>

                    <br>
                </div>
            </div>
       
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>
